<h3 class="main-header"><%= @user.username %>'s Profile</h3>

<div class="users-goals">
<h3 class="sub-header"><%= @user.username %>'s Goals:</h3>
  <% @user.goals.each do |goal| %>
    <%= render 'shared/basic_goal_info', goal: goal if !goal.private %>
  <% end %>
</div>

<br>
<p><a class="button" data-turbolinks="false" href="<%= users_url %>">All Users</a></p>