<form class="nav-links" action="<%= goal_url(goal) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <%= auth_token %>

  <input type="submit" value="delete '<%= goal.title %>' goal">
</form>