<h4>New Comment:</h4>

<form action="<%= goal_comments_url %>" method="POST">
    <%= auth_token %>
        <input type="hidden" name="comment[goal_id]" value="<%= goal_id %>">

        <textarea id="Comment" name="comment[body]"></textarea>

        <input type="submit" value="Save Comment">
</form>