<form action="<%= user_comments_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="comment[user_id]" value="<%= user_id %>">

  <h3>New Comment:</h3>
  <textarea name="comment[body]"></textarea>

  <input type="submit" value="Save Comment">
</form>