<h3 class="main-header">My Cheers</h3>

<% @cheers.each do |cheer| %>
  <table class="cheer">
    <tr>
      <th>Cheer given by:</th>
      <td><%= cheer.giver.username %></td>
    </tr>
    <tr>
      <th>For goal of:</th>
      <td><%= cheer.goal.title %></td>
    </tr>
  </table>
  <br />
<% end %>